
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i');
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "loader";

body{
  font-family: 'Montserrat', sans-serif;
  padding-top: 89px;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.hidden-div{
  display: none;
}
#load-more{
  font-size: 13px;
  color:#999;
}
.nav-link{
  font-weight: bold;
}